.flex-grid {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 479px) {
        justify-content: space-evenly;
        // margin: 0 10px;
    }

    &--column {
        flex-direction: column;

        margin: 0;
        // width: calc(100% / 3 * 1 - 5px);
        // height: calc(100% / 3 * 1 - 5px);
        // min-width: 100px;
    }
}

@import 'flex-grid__item.scss';
