$grey: #C4C4C4;
$light-grey: #E8EBED;
$dark-grey: #A2A9B7;

$red: #F55E62;
$peach: #FFAA87;
$orange: #FEBF26;
$green: #E3EBD3;
$blue: #90BCE8;
$violet: #C7ABD4;

$colours-map: (
	'grey': $grey, 
	'light-grey': $light-grey,
	'dark-grey': $dark-grey,
  	'red': $red,
  	'peach': $peach,
  	'orange': $orange,
  	'green': $green,
  	'blue': $blue,
  	'violet': $violet
);
