$grey: #c4c4c4;
$light-grey: #e8ebed;
$dark-grey: #a2a9b7;

$red: #f55e62;
$peach: #ffaa87;
$orange: #febf26;
$green: #e3ebd3;
$blue: #90bce8;
$violet: #c7abd4;

$colours-map: (
	'grey': $grey,
	'light-grey': $light-grey,
	'dark-grey': $dark-grey,
  	'red': $red,
  	'peach': $peach,
  	'orange': $orange,
  	'green': $green,
  	'blue': $blue,
  	'violet': $violet
);
